/* Center the content on the page */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Styling buttons */
.buttons {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f73;
}

/* Message box container */
.message-box {
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f5f5f5;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    padding: 10px;
}

.messages {
    overflow-y: auto;
    flex: 1;
    padding: 10px;
}

/* Styling for input box */
.inputs {
    padding: 10px;
    display: flex;
}

#message {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Message content styling */
.text {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dateAndTime {
    font-size: 12px;
    color: gray;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn {
    width: 100%
}

h2 {
    text-align: center;
}